{% extends "_general/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row pt-3">
    <div class="col-12">
        <h4>{{title}}</h4>
        <form method="post">
            <div class="row">
                <div class="col-12">
                    {% crispy form %}
                    <div class="form-group">
                        <input type="submit" class="btn btn-success" value="Change">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>




{% endblock %}