{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="shortcut icon" href="{% static "/img/favicon.ico" %}">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>LAS {% block title %}{% endblock %}</title>
	<link defer href="{% static "node_modules/bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet"
		type="text/css" />
	<link async href="{% static "node_modules/open-iconic/font/css/open-iconic-bootstrap.min.css" %}" rel="stylesheet">
	<link async href="{% static "node_modules/open-iconic/font/css/open-iconic.min.css" %}" rel="stylesheet">
	<link async href="{% static "css/style.css" %}" rel="stylesheet">

	{% block extrastyle %}{% endblock%}

</head>

{% block navbar %}
<body {%block bodyoption %}{% endblock %}>
	<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light" style="border-bottom-style: solid; border-bottom-color:#555c5c;border-width: 5px;">
		<!-- Back to LAS home Laboratory Assistant Suite -->
		<nav class="navbar navbar-light bg-light">
			<a class="navbar-brand" href="/">
				<img src="{% static "/img/logo.png" %}" height="30" class="d-inline-block align-top" alt="The LAS">
				{% if request.resolver_match.url_name == 'index' or request.resolver_match.url_name == 'LASLogin' %}Laboratory Assistant Suite {% endif %}
			</a>
		</nav>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
				{% block navbar_items %}
				{% endblock %}
			{% if user.is_authenticated %}
			<ul class="navbar-nav ml-auto">

				<li class="nav-item">
					<span id="datename" class="nav-link active">{% now "jS F Y" %} | <a
							href="{% url 'logout' %}">Logout</a>
						[{{  user.username  }}]</span>
				</li>

			</ul>
			{% endif %}
		</div>
	</nav>
	{% endblock %}


	<div id="content" class="mb-5 container-fluid">
		{%csrf_token %}
		{% block content %}{% endblock %}
	</div>

	<div class="container-fluid fixed-bottom navbar-dark bg-dark mt-5 text-right">
		<span class="navbar-text ml-auto" style="color:#ccc; font-size:0.8em">
			Copyright {% now "Y" %} | IRCC | All rights reserved
		</span>
	</div>


	<div class="modal">
		<!-- Place at bottom of page -->
	</div>

	<script src="{% static "node_modules/jquery/dist/jquery.min.js" %}"></script>
	<script src="{% static "node_modules/popper.js/dist/umd/popper.min.js" %}"></script>
	<script defer src="{% static "node_modules/bootstrap/dist/js/bootstrap.min.js" %}"></script>
	<script src="{% static "node_modules/intersection-observer/intersection-observer.js" %}"></script>
	<script defer src="{% static "node_modules/datatables.net/js/jquery.dataTables.min.js" %}"></script>
	<script defer src="{% static "node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js" %}"></script>
	<script defer src="{% static "node_modules/cookieconsent/build/cookieconsent.min.js" %}"></script>
	<script defer src="{% static "node_modules/toastr/build/toastr.min.js" %}"></script>
	<script defer src="{% static "node_modules/pdfmake/build/pdfmake.min.js" %}"></script>
	<script defer src="{% static "node_modules/pdfmake/build/vfs_fonts.js" %}"></script>
	<script defer src="{% static "node_modules/moment/min/moment-with-locales.min.js" %}"></script>
	<script defer
		src="{% static "node_modules/tempusdominus-bootstrap-4/build/js/tempusdominus-bootstrap-4.min.js" %}"></script>

	<script defer src="{% static "node_modules/multiselect/js/jquery.multi-select.js" %}"></script>

	<script defer src="{% static "node_modules/underscore/underscore-min.js" %}"></script>

	<script defer src="{% static "node_modules/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.js" %}"></script>

	<script defer src="{% static "node_modules/jquery-typeahead/dist/jquery.typeahead.min.js" %}"></script>


	<link async href="{% static "node_modules/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.css" %}" rel="stylesheet">


	<link async rel="stylesheet" type="text/css" href="{% static "node_modules/@fortawesome/fontawesome-free/css/all.min.css" %}" />
	<link async rel="stylesheet" type="text/css" href="{% static "node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css" %}" />
	<link async rel="stylesheet" type="text/css" href="{% static "node_modules/cookieconsent/build/cookieconsent.min.css"  %}" />
	<link async rel="stylesheet" type="text/css" href="{% static "node_modules/toastr/build/toastr.min.css" %}" />
	<link async rel="stylesheet" type="text/css" href="{% static "node_modules/tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css" %}" />
	<link async rel="stylesheet" type="text/css" href="{% static "node_modules/multiselect/css/multi-select.css" %}" />

	<link async rel="stylesheet" type="text/css" href="{% static "node_modules/jquery-typeahead/dist/jquery.typeahead.min.css"  %}"/>


	<script defer type="text/javascript" src="{% static "js/_general/csrfToken.js" %}"></script>
	<script type="text/javascript">

		window.addEventListener("load", function () {
			window.cookieconsent.initialise({
				"palette": {
					"popup": {
						"background": "#eaf7f7",
						"text": "#5c7291"
					},
					"button": {
						"background": "transparent",
						"text": "#56cbdb",
						"border": "#56cbdb"
					}
				},
				"content": {
					"message": "This site uses third-party cookies: by using the site, you consent the use of cookies. For more information view the ",
					"dismiss": "OK",
					"link": "cookies policy",
					"href": "{% url 'privacyView' %}"
				}
			})
		});


		$(document).ready(function () {

			toastr.options = {
				"closeButton": false,
				"debug": false,
				"newestOnTop": false,
				"progressBar": false,
				"positionClass": "toast-bottom-right",
				"preventDuplicates": false,
				"onclick": null,
				"showDuration": "300",
				"hideDuration": "1000",
				"timeOut": "5000",
				"extendedTimeOut": "1000",
				"showEasing": "swing",
				"hideEasing": "linear",
				"showMethod": "fadeIn",
				"hideMethod": "fadeOut"
			}
			
			
			$('body').ajaxComplete(function (e, xhr, settings) {
				if (xhr.status == 278) {
					window.location.href = xhr.getResponseHeader("Location").replace(/\?.*$/, "?next=" + window.location.pathname);
				}
			});

		});

	</script>

	{% block script %} {% endblock %}

</body>

</html>