Django>=2.2
djangorestframework==3.9.3 # waiting for fixes before moving on to next versions
pymongo>=3.7.1
celery>=4.2
django-bootstrap-breadcrumbs>=0.9.1
pytz>=2019.1
redis>=2.10.6
jupyter>=1.0.0
django-extensions>=2.1.0
ipython>=6.5.0
numpy>=1.15.0
gunicorn>=19.9.0
openpyxl>=2.6.2
requests>=2.22.0
django-simple-captcha>=0.5.12
jsonschema>=3.0.2
python-dateutil>=2.8.0
networkx>=2.2
django-crispy-forms>=1.7.2
drf_yasg==1.15.1 # waiting for fixes before moving on to next versions
ete3>=3.1.1
#djongo>=1.2.35
git+https://github.com/lasircc/djongo.git@django2.2
ontospy>=1.9.8.2
django-redis>=4.10.0
boltons>=19.1.0
git+https://github.com/lasircc/jsondesign
dotty-dict>=1.2.0
