{% extends "_general/base.html" %}
{% load static %}
{% load las_tags %}

{% block content %}

<div class="row pt-3">
    <div class="col-12">
        <button class="btn btn-info" id="addTriggerEntity">Add for Entity</button>
        <button class="btn btn-info" id="addTriggerRel">Add for Relationship</button>
    </div>
</div>
<div class="row pt-3">
    <div class="col-4">
        <table id="tabTriggers" class="table table-striped table-bordered" style="width:100%">
        </table>
    </div>

    <div class="col-8" style="display: none" id="editTrigger">
        <div class="card">
            <div class="card-header">
                <h5>Edit</h5>
            </div>
            <div class="card-body">
                    <form method="POST" id="formTrigger">
                            {% csrf_token %}
                            <input type="hidden" name="oid">
            
                            <div class="form-group">
                                <label>Namespace</label>
                                <select class="form-control" required name="ns" readonly>
                                    <option value="">--- Select one ---</option>
                                    <option value="entity">Entity</option>
                                    <option value="relationship">Relationship</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Class</label>
                                <div class="typeahead__container">
                                    <div class="typeahead__field">
                                        <div class="typeahead__query">
                                            <input class="js-typeahead-class" name="_class" type="search" placeholder="Search" autocomplete="off" required>
                                        </div>
                                        <div class="typeahead__button">
                                            <button disabled>
                                                <i class="typeahead__search-icon"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Event</label>
                                <select class="form-control" required name="e">
                                    <option value="">--- Select one ---</option>
                                    <option value="i">Insert</option>
                                    <option value="u">Update</option>
                                    <option value="d">Delete</option>
                                </select>
                            </div>
                            
                            <div class="form-group">
                                <label>When</label>
                                <button class="btn btn-primary" id="editWhen">Define conditions</button>
                                <button class="btn btn-warning" id="clearWhen">Clear</button>
                                <textarea readonly name="when" class="form-control mt-2"></textarea>
                            </div>

                            <div class="form-group">
                                <label>Pipeline</label>
                                <div id="pipeline" style="height: 600px">
                                </div>
                                <!--button class="btn btn-primary" id="editPipeline">Define steps</button>
                                <button class="btn btn-warning" id="clearPipeline">Clear</button>
                                <textarea readonly name="pipeline" class="form-control mt-2"></textarea-->
                            </div>
            
                            
                            <button type="submit" class="btn btn-success">Save</button>
                            <button id="cancelEdit" class="btn btn-warning">Cancel</button>
                        </form>
            </div>
        </div>
    </div>

</div>


<div class="modal" tabindex="-1" role="dialog" id="modalWhen">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">When</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row pt-3">
                    <div class="col-12">
                        <button id="addWhenCond" class="btn btn-info"><span class="fa fa-plus"></span></button>
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col-12" id="whenList">
    
                    </div>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="saveWhen">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="modalBlock">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Select block</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row pt-3">
                    <div class="col-12">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Function</label>
                                    <select class="form-control" id="blockType">
                                        
                                    </select>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="selectBlock">Select</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal" tabindex="-1" role="dialog" id="modalPipeline">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Pipeline</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row pt-3">
                    <div class="col-12">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Function</label>
                                    <select class="form-control" id="pipelineFunc">
                                        <option value="">--- Select one ---</option>
                                        <option value="unique">Unique</option>
                                        <option value="schema">Schema</option>
                                        <option value="update">Update</option>
                                        <option value="inherit">Inherit</option>
                                        <option value="cascade">Cascade</option>
                                    </select>
                            </div>
                            <button id="addPipelineStep" class="btn btn-info"><span class="fa fa-plus"></span></button>
                        </div>
                    </div>
                </div>
                <div id="pipelineList">

                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="savePipeline">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



{% endblock %}

{% block script %}

<script src="{% static "/node_modules/d3/dist/d3.min.js" %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static "/node_modules/ace-builds/src/ace.js" %}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="{% static "/js/_general/graph-gen.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "/css/graph-gen.css" %}" />
<script defer type="text/javascript" src="{% static "/js/private/triggers.js" %}"></script>
{% endblock %}