{% extends "datamodel/index.html" %}
{% load static datamodel_extras %}

{% block extrastyle %}
{{ block.super }}
<link async href="{% static "css/datamodel/entity.css" %}" rel="stylesheet">
<style type="text/css">
    {{pygments.css|safe}}
</style>

{% endblock %}


{% block content %}

{% block breadcrumb %}
{{ block.super }}
{% endblock %}

<div class="row">
    <div class="col-12">
        <div class="row page-header">
            <div class="col-12">
                <h3 style='display: inline;'>
                    {{entity.locale}}{% if not entity.children %} </h3><span class="badge badge-info">Leaf
                    Node</span>{% endif %}

            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="tree-container">
            <div class="tree">
            {% include "datamodel/inc/familyTree.html" with parent=0 %}
            </div>
        </div>
    </div>
</div>




<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                {% if entity|get_class == "OntoClass" %}Class{%else%}Property{% endif %} Info
            </div>
            <div class="card-body">
                <dl>
                    <dt>URI</dt>
                    <dd> <a href="{% url 'manageModel' %}"
                            style="background-color: #b0bcf357; border-radius: 4px;padding: 2px 4px">{{ entity.qname }}</a>
                    </dd>
                </dl>


                <dl>
                    <dt>Label</dt>
                    <dd>{{ entity.bestLabel|default:"--"}}</dd>
                    </dd>
                </dl>

                <dl>
                    <dt>Description</dt>
                    <dd>{{ entity.bestDescription|default:"--"}}</dd>
                    </dd>
                </dl>
            </div>
        </div>

    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Super{% if entity|get_class == "OntoClass" %}classes{% else %}properties{% endif %}
                ({{entity.ancestors|length}})
            </div>
            <div class="card-body">
                {% if entity.ancestors %}
                {% for a in entity.ancestors %}
                <li>
                    <a href="{% url "entity-info" a.id %}" title="{{a.uri}}">{{a.locale}}</a>
                </li>
                {% endfor %}
                {% endif %}
                <li><i>{% if entity|get_class == "OntoClass" %}owl:Thing{% else %}rdf:Property{% endif %}</i></li>


            </div>
        </div>

    </div>
</div>

<div class="row pt-3">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                Usage
            </div>

            <div class="card-body">
                <p>Instances of {{entity.locale}} can have the following properties:</p>
            </div>
            <table class="table table-striped" style="overflow: auto;">

                <tr class="table-classproperties">
                    <th>PROPERTY</th>
                    <th>TYPE</th>
                    <th>DESCRIPTION</th>
                    <th>RANGE</th>
                </tr>

                {% for group in entity.domain_of_inferred  %}

                {% for k,v in group.items  %}

                {% if v %}

                <tr class="table-inheritanceinfo">
                    <th colspan="4" class="treeinfo"><span class="badge badge-light">From class <a title="{{k.qname}}"
                                href="{{k.slug}}.html" class="fromclass_link">{{k.qname}}</a></span>
                    </th>
                </tr>

                {% for prop in v  %}
                <tr>
                    <td>
                        <a class="propcolor" title="{{prop.qname}}"
                            href="{% url "entity-info" prop.id %}">{{prop.locale}}</a>
                    </td>
                    <td>
                        <i>{{prop.rdftype_qname}}<i>
                    </td>
                    <td>
                        <span>{{prop.bestDescription|default:"--"}}</span>
                    </td>
                    <td>
                        {% if  prop.ranges %}
                        {% for range in prop.ranges  %}

                        {% if not range.ext_model %}
                        <a title="{{range.qname}}" href="{{range.slug}}.html" class="rdfclass">{{range.qname}}</a>
                        {% else %}
                        <i>{{range.qname}}</i>
                        {% endif %}


                        {% endfor %}
                        {% else %}
                        <i>owl:Thing</i>
                        {% endif %}
                    </td>
                </tr>

                {% endfor %}

                {% endif %}

                {% endfor %}

                {% endfor %}

            </table>

        </div>

    </div>
</div>

<div class="row pt-3">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                Implementation
            </div>

            <div class="card-body">
                {{pygments.code|safe}}
            </div>

        </div>

    </div>
</div>



{% endblock %}