{% extends "_general/base.html" %}
{% load static %}
{% load las_tags %}
{% block title %}Data Model{% endblock %}

{% block extrastyle %}
<link async href="{% static "css/datamodel/style.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}

{% block breadcrumb %}
{% include "datamodel/inc/breadcrumb.html" with current_page=request.resolver_match.url_name %}
{% endblock %}


<div class="row">
    <div class="col-12">
        <!-- Tab Items -->
        <ul class="nav nav-tabs" id="indexTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="outline-tab" data-toggle="tab" href="#outline" role="tab"
                    aria-controls="outline" aria-selected="true">Model index</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="schemas-tab" data-toggle="tab" href="#schemas" role="tab" aria-controls="schemas"
                    aria-selected="false">Schemas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="classes-tab" data-toggle="tab" href="#classes" role="tab" aria-controls="classes"
                    aria-selected="false">Classes</a>
            </li>

        </ul>
        <!-- Tab Content -->
        <div class="tab-content pt-3" id="dataModelTabContent">
            <!-- Tab Outline -->
            <div class="tab-pane fade show active" id="outline" role="tabpanel" aria-labelledby="outline-tab">
                <div class="row">
                    <div class="col-12">
                        <div class="row page-header">
                            <div class="col-12">
                                <h3>The LAS Data Model</h3>
                                <p>Explore and modify the LAS semantic model. Use the entity filter of the model index
                                    to get started.</p>
                            </div>
                            <div class="col-4">
                                <!-- Entity Filter  -->
                                <div class="form-group">
                                    <label for="entityFilter">Entity filter</label>
                                    <input type="input" class="form-control" id="entityFilter"
                                        aria-describedby="entityFilterHelp" placeholder="Type you entity">
                                    <small id="entityFilterHelp" class="form-text text-muted">You are querying model
                                        entities</small>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-header">
                                Classes ({{entities.count}})
                            </div>
                            <div class="card-body entities-list" style="overflow: auto;">
                                <dl>
                                    {% for c in entities.uris %}
                                    <dt>
                                        <a href="{% url 'datamodel:entity-info' c.slug %}">{{ c.slug }}</a>
                                    </dt>
                                    {% endfor %}
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-header">
                                Properties ({{model.all_properties|length}})
                            </div>
                            <div class="card-body entities-list" style="overflow: auto;">
                                <dl>
                                    {% for p in model.all_properties %}
                                    <dt>
                                        <a href="{% url 'datamodel:entity-info' p.id %}">{{ p.qname }}</a>
                                    </dt>
                                    {% endfor %}
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Tab Schemas -->
            <div class="tab-pane fade" id="schemas" role="tabpanel" aria-labelledby="schemas-tab">
                <div class="row">
                    <div class="col-6">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label>Json schema</label>
                                <textarea class="form-control" name="json-schema"></textarea>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-header">
                                Schemas ({{schemas.count}})
                            </div>
                            <div class="card-body entities-list" style="overflow: auto;">
                                <dl>
                                    {% for c in schemas.uris %}
                                    <dt>
                                        {{ c.slug }}
                                    </dt>
                                    {% endfor %}
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>

                    <!--
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-md-12">
                                {% for o in model.all_ontologies %}
                                <div class="card">
                                    <div class="card-header">
                                        Ontology Metadata
                                    </div>
                                    <div class="card-body">
                                        <dl>
                                            <dt>URI</dt>
                                            <dd> <a href="{% url 'manageModel' %}"
                                                    style="background-color: #b0bcf357; border-radius: 4px;padding: 2px 4px">{{ o.qname }}</a>
                                            </dd>
                                        </dl>

                                        {% if o.annotations %}
                                        {% for a in o.annotations %}
                                        <dl>
                                            {% ifchanged a.1 %}<dt>{{a.1}}</dt>{% endifchanged %}
                                            <dd>{{a.2}}</dd>
                                        </dl>
                                        {% endfor %}
                                        {% else %}
                                        <i>No metadata available</i>
                                        {% endif %}
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="row pt-3">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        Metrics
                                    </div>
                                    <div class="card-body">
                                        <dl>
                                            {% for m in model.stats %}
                                            <dt>{{m.0}}</dt>
                                            <dd>{{m.1}}</dd>
                                            {% endfor %}
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-header">
                                Namespaces
                            </div>
                            <div class="card-body">
                                <dl>
                                    {% for x, y in model.namespaces  %}
                                    <dt><span class="badge badge-secondary">{{x|default:":"}}</span></dt>
                                    <dd><a href="{{y}}" target="_blank">{{y}}</a></dd>
                                    {% endfor %}
                                </dl>
                            </div>
                        </div>
                    </div>
                    -->

            </div>

            <!-- Tab classes -->
            <div class="tab-pane fade" id="classes" role="tabpanel" aria-labelledby="classes-tab">
                <div class="row">
                    
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                Define classes
                            </div>
                            <div class="card-body">
                                <form method="post" action="{% url 'datamodel:entity-create' %}" enctype="multipart/form-data" id="createEntity">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input type="text" class="form-control" name="name">
                                    </div>
                                    <div class="form-group">
                                        <div class="typeahead__container">
                                            <div class="typeahead__field">
                                                <div class="typeahead__query">
                                                    <input class="js-typeahead" name="schema" type="search" placeholder="Search" autocomplete="off">
                                                </div>
                                                <div class="typeahead__button">
                                                    <button disabled>
                                                        <i class="typeahead__search-icon"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-success" value="Save"></div>
                                    </div>
                                </form>
                            </div>
                        </div>


                    </div>
                    

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script defer src="{% static "js/datamodel/datamodel.js" %}"></script>


{% if messages %}
<script defer type="text/javascript">
    $(document).ready(function () {
        {% for message in messages %}
        toastr['{{message.tags}}']("{{message.text}}");
        {% endfor %}
    });
</script>
{% endif %}


{% endblock %}